@import url(./vars.css);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    user-select: none;
}

body{
    background-color: hsl(var(--pry-clr));
}
/* Digital Clock Styles */
#digital_clock{
    cursor: pointer;
    animation: fadein .5s ease-out;
}
#time{
    margin-top: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
#time div{
    position: relative;
    margin: 0 .2rem;
    -webkit-box-reflect: below .2rem linear-gradient(transparent,#00000025);
}
#time div span:first-child{
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}
#time div span{
    position: relative;
    display: block;
    width: 100px;
    height: 80px;
    background: hsl(var(--sry-clr));
    color: white;
    font-weight: 300;
    font-size: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, .2);
}
#time div span:nth-child(2){
    height: 30px;
    font-size: 0.7em;
    letter-spacing: .2em;
    font-weight: 700;
    z-index: 9;
    box-shadow: none;
    background: hsl(var(--sry-clr)/.9);
    text-transform: uppercase;
}
#time div:last-child span{
    background: hsl(var(--act-clr));
}
#time div:last-child span:nth-child(2){
    background: hsl(var(--act-clr)/.9);
}



/* Analog Clock Styles */
#analog_clock {
    display: none;
    cursor: pointer;
    animation: fadein .5s ease-out;
    width: 20em;
    height: 20em;
    border: .5rem solid hsl(var(--act-clr)/.2);
    box-shadow: -4px -4px 10px rgba(142, 142, 142, 0.5),
                  inset 4px 4px 10px rgba(0,0,0,0.5),
                  inset -4px -4px 10px rgba(67,67,67,0.5),
                  4px 4px 10px rgba(0,0,0,0.3);
    border-radius: 50%;
    position: relative;
    padding: 1rem;
    -webkit-box-reflect: below .2rem linear-gradient(transparent,#00000025);

}

.outer-clock-face {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 100%;
    background: hsl(var(--pry-clr)/ .4);
    overflow: hidden;
}

.outer-clock-face::after {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    transform: rotate(90deg)
}

.outer-clock-face::before,
.outer-clock-face::after,
.outer-clock-face .marking{
    content: '';
    position: absolute;
    width: 5px;
    height: 100%;
    background: hsl(var(--act-clr)/.3);
    z-index: 0;
    left: 49%;
}

.outer-clock-face .marking {
    background-color: hsl(var(--sry-clr));
    width: 3px;
}

.outer-clock-face .marking.marking-one {
    -webkit-transform: rotate(30deg);
    -moz-transform: rotate(30deg);
    transform: rotate(30deg)
}

.outer-clock-face .marking.marking-two {
    -webkit-transform: rotate(60deg);
    -moz-transform: rotate(60deg);
    transform: rotate(60deg)
}

.outer-clock-face .marking.marking-three {
    -webkit-transform: rotate(120deg);
    -moz-transform: rotate(120deg);
    transform: rotate(120deg)
}

.outer-clock-face .marking.marking-four {
    -webkit-transform: rotate(150deg);
    -moz-transform: rotate(150deg);
    transform: rotate(150deg)
}

.inner-clock-face {
    position: absolute;
    top: 10%;
    left: 10%;
    width: 80%;
    height: 80%;
    background: hsl(var(--pry-clr));
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    z-index: 1;
}

.inner-clock-face::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 16px;
    height: 16px;
    border-radius: 18px;
    margin-left: -9px;
    margin-top: -6px;
    background: hsl(var(--pry-clr));
    z-index: 11;
}

.hand {
    width: 50%;
    right: 50%;
    height: 6px;
    background: hsl(var(--sry-clr));
    position: absolute;
    top: 50%;
    border-radius: 6px;
    transform-origin: 100%;
    transform: rotate(90deg);
    transition-timing-function: cubic-bezier(0.1, 2.7, 0.58, 1);
}

.hand.hour-hand {
    width: 30%;
    z-index: 3;
}

.hand.min-hand {
    height: 3px;
    z-index: 10;
    width: 40%;
}

.hand.second-hand {
    background-color:hsl(var(--act-clr)) ;
    width: 45%;
    height: 2px;
}