@import url(./vars.css);

.hint {
    padding: 1rem .5rem;
    color: white;
    bottom: .5rem;
    font-weight: bolder;
    font-size: small;
}

kbd {
    color: hsl(var(--sry-clr)/.5);
    font-weight: bold;
    padding: .5rem .5rem;
    border-radius: .5rem;
    text-align: center;
    font-size: 2rem;
}

.help {
    color: white;
    position: fixed;
    bottom: 2rem;
    left: 2rem;
    padding: 1rem 1rem;
    font-size: 1.5rem;
    text-shadow: 0 0 1rem white;
    border-radius: 20%;
}

.help:hover {
    background-color: hsl(var(--sry-clr)/.1);
    cursor: pointer;
}

.dropdown {
    position: absolute;
    bottom: 0;
    left: 6rem;
    display: inline-block;
    color: white;
}

.dropdown-content {
    display: none;
    position: absolute;
    width: 30rem;
    border-radius: .5rem;
    background-color: black;
    box-shadow: 0px 8px 16px 0px #0000004d;
    padding: .5rem;
    bottom: 2rem;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}