@import url(../css/vars.css);

.mytabs {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    letter-spacing: .3rem;
}
.mytabs input[type="radio"] {
    display: none;
}
.mytabs label {
    padding: 2rem;
    background-color: hsl(var(--pry-clr));
    color: white;
    font-weight: bold;
    cursor: pointer;
    transform: scale(1);
}
.mytabs label:hover {
    color: hsl(var(--sry-clr)/.5);
    background-color: hsl(var(--sry-clr)/.05);
}
.mytabs label:active{
    transform: scale(0.95);
} 
.mytabs .tab {
    width: 100vw;
    height: 100%;
    padding: 20vh 20vw;
    background-color: hsl(var(--pry-clr));
    order: 1;
    display: none;
}
.mytabs .tab h2 {
    color: white;
}

.mytabs input[type='radio']:checked + label + .tab {
    display: flex;
    justify-content: center;
    align-items: center;
}

.mytabs input[type="radio"]:checked + label {
    color: hsl(var(--sry-clr));
}
